body {
  padding-top: 62px;
}

/* coloca no menu centralizado a direita*/
.collapse-style {
  justify-content: flex-end;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

.button {
  color: #fff;
  background-color: #0d6efd;
}

.button:hover {
  background-color: #0e66eb;
}

.icone {
  height: 100px;
}
